.hover-image img {
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%);
	-webkit-transition: .05s ease-in-out;
	transition: .05s ease-in-out;
}
.hover-image:hover img {	
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.Question01 {
    font-size: 140%
}