/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    --color-hover: rgb(32, 232, 62);
    --transition: all 0.2s ease;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100px;
    height: 100%;
    background: #fff;
    padding: 20px 25px;
    transition: var(--transition);
}
@media (max-width:600px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 60px;
        height: 100%;
        background: #fff;
        padding: 8px 16px;
        transition: var(--transition);
    }
}

.sidebar.expand {
    width: 200px;
    transition: var(--transition);
}
@media (max-width:600px) {
    .sidebar.expand {
        width: 150px;
        transition: var(--transition);
    }
}

.nav-header {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-header .logo {
    color: #000;
    font-size: 23px;
    font-weight: 600;
    display: none;
    transition: var(--transition);
}
@media (max-width:600px) {
    .nav-header .logo {
        color: #000;
        font-size: 15px;
        font-weight: 600;
        display: none;
        transition: var(--transition);
    }
}
.sidebar.expand .nav-header .logo {
    display: flex;
    transition: var(--transition);
}

.BiMenuAltRight {
    position: absolute;
    color: #000;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 23px;
    cursor: pointer;
    margin-right: 10px;
}
@media (max-width:600px) {
    .BiMenuAltRight {
        position: absolute;
        color: #000;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        font-size: 23px;
        cursor: pointer;
        margin-right: 30px;
        transition: var(--transition);
    }
}

.sidebar.expand .BiMenuAltRight{
    margin-right: -20px;
    transition: var(--transition);
}
@media (max-width:600px) {
    .sidebar.expand .BiMenuAltRight{
        margin-right: 0px;
        transition: var(--transition);
    }
}
.icon{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    color: #4c4c4c
}
@media (max-width:600px) {
    .icon{
        width: 25px;
        height: 25px;
    }
}
.nav-links {
    margin-top: 20px;
    height: 100%;
}

.nav-links li {
    position: relative;
    margin: 10px 0;
    list-style: none;
}

.nav-links li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    background: #fff;
}

.nav-links li:hover a {
    background: var(--color-hover);
}

.nav-links li a .title {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    
    text-align: center;
    white-space: nowrap;
    display: none;
    transition: var(--transition);
}

.sidebar.expand .nav-links li a .title {
    display: block;
    transition: var(--transition);
}

.nav-links li:hover a .title {
    color: #fff;
}

.home {
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    min-height: 100vh;
    background: #e2e2e2;
    z-index: 6;
    transition: var(--transition);
}

.sidebar.expand ~ .home {
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--transition);
}

.tag_space {
    position: 50px 50px 50px
}
.rounded-rectangle {
    width: 60px;
    height: 200px;
    background-color: #ffffffde;
    border-radius: 10px; /* 둥근 모서리 반지름 설정 */
    padding: 20px;
    text-align: center;
    line-height: 60px;
    margin : 50px 0 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width:600px) {
    .rounded-rectangle {
        width: 60px;
        height: 200px;
        background-color: #ffffffde;
        border-radius: 10px; /* 둥근 모서리 반지름 설정 */
        padding: 20px;
        text-align: center;
        line-height: 60px;
        margin : 50px 0 0px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }
}

.sidebar.expand .rounded-rectangle {
    width: 100px;
    height: 200px;
    background-color: #ffffffde;
    border-radius: 10px; /* 둥근 모서리 반지름 설정 */
    padding: 20px;
    text-align: center;
    line-height: 60px;
    
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

