.modeselect {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.select_margin1 {
    display: block;
    width: 100%;
    height: 1vh;
    pointer-events: none;
    margin-top: 50px;
    margin-bottom: 10px;
}
@media (max-height:600px) {
    .select_margin1 {
        display: none
    }
}
.nametext {
    font-size: 700%;
    color: var(--color-purple);
}
.modeselect_text{
    font-size: 180%;
    margin-bottom: 3vh;
    color: #000000bf;
    font-weight: light;
}
.modebuttonbox {
    display:grid;
    position:relative;
    grid-template-columns:repeat(
        auto-fill,
        minmax(
        290px,
        1fr
    ));
    gap:16px;
    padding-top:16px;
    padding-bottom:4px;
    padding-left: 10px;
}
.modebutton{
    margin-bottom: 15px;
    width: 270px;
    height: 270px;
    border-radius: 15px;
    transition: all 0.2s ;
    color: #000000;
    background: #e0e0e0;
    position: relative;
    margin: auto;
}
.modebutton:hover {
    background: #a1a1a1;
}
.buttonText{
    position:absolute;
    top: 50%;
    width: 100%;
    margin: -40px 0 0 0px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.buttonT1{
    font-size: 200%;
    margin-bottom: 3%;
    text-align: center;
    color: #000000bf;
    font-weight: light;
}
.buttonT2{
    font-size: 100%;
    margin-bottom: 5%;
    text-align: center;
    color: #000000bf;
    font-weight: light;
}
.select_margin2 {
    display: block;
    width: 100%;
    height: 5vh;
    pointer-events: none;
    margin-top: 50px;
    margin-bottom: 10px;
}


.modebuttonT1{
    font-size: 300%;
    margin-bottom: 2%;
    text-align: center;
    color: #000000bf;
}
.modebuttonT2{
    font-size: 100%;
    text-align: center;
    color: #000000bf;
}
.modebuttonText{
    position:absolute; bottom: 0px;
    white-space: nowrap;
    margin-left: 5%;
    margin-bottom: 5%;
}
.select_button{
    font-size: 200%;
    margin-bottom: 3%;
}
.select_text{
    position:absolute; bottom: 0px;
    white-space: nowrap;
    margin-left: 5%;
    margin-bottom: 5%;
}