.modeselect_column {
    text-align: left;
    margin: auto;
    width: 50vw;
}
.nametext {
    font-size: 700%;
    color: var(--color-purple);
    margin-bottom: 3vh;
}
.modeselect_text{
    font-size: 180%;
    margin-bottom: 2vh;
    color: #000000bf;
    font-weight: light;
}
.modebutton{
    padding-top: 100%;
    width: 15vw;
    height: 0;
    border-radius: 15px;
    transition: all 0.2s ;
    color: #000000;
    background: #e0e0e0;
    position: relative;
    margin: auto;
}
@media (min-width:1600px) {
    .modebutton{
        width: 250px;
    }
}
.modebutton:hover {
    background: #a1a1a1;
}
.choose_txt{
    position: absolute;
    top: 50%;
    width: 100%;
    margin: -50px 0 0 0px;
    height: 100px;
}
@media (max-width:1210px) {
    .choose_txt {
        padding-top: 10%;
        font-size: 70%;
    }
}
@media (max-width:800px) {
    .choose_txt {
        padding-top: 20%;
        font-size: 55%;
    }
}
@media (max-width:700px) {
    .choose_txt {
        padding-top: 25%;
        font-size: 50%;
    }
}
@media (max-width:620px) {
    .choose_txt {
        padding-top: 30%;
        font-size: 40%;
    }
}
.margin_grid {
    width: 7vw;
}
.button_txt1{
    font-size: 200%;
    margin-bottom: 3%;
    text-align: center;
    color: #000000bf;
    font-weight: light;
}
.button_txt2{
    font-size: 100%;
    margin-bottom: 5%;
    text-align: center;
    color: #000000bf;
    font-weight: light;
}
.select_margin2 {
    display: block;
    width: 100%;
    height: 5vh;
    pointer-events: none;
    margin-top: 50px;
    margin-bottom: 10px;
}
.PromptCheck{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    height: 120px;
}