.modebuttonbox {
    width: 100%;
    display:flex;
    padding-left: 0;
    
}
.modebutton{
    margin-bottom: 15px;
    width: 48%;
    height: 30rem;
    border-radius: 15px;
    transition: all 0.2s ;
    float: left;

    /*
    color: #8c8c8c;
    background: #ffffff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.01), 0 1px 1px rgba(0,0,0,0.14);
    */
    color: #000000;
    background: #e0e0e0;
    position: relative;
}
.modebutton:hover {
    /*
    box-shadow: 2px 5px 5px rgba(0,0,0,0.17), 0 5px 5px rgba(0,0,0,0.17);
    */
    background: #c4c4c4;
}
.modebuttonT1{
    font-size: 300%;
    margin-bottom: 2%;
    
}
.modebuttonT2{
    font-size: 100%;
}
.modebuttonText{
    position:absolute; bottom: 0px;
    white-space: nowrap;
    margin-left: 5%;
    margin-bottom: 5%;
}
.nametext {
    margin-top: 8rem;
    font-size: 1000%;
    color: var(--color-purple);
}